/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5c5c5c;
  background: url("/images/bg.png") top repeat-x #fff;
  font: 76%/140% Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  white-space: normal;
  word-break: break-all;
  font-family: "Microsoft YaHei","微软雅黑","SimHei","黑体";
}

.container {
    width: 990px;
}

.red {
    color: #e6002c;
}

/*
 * Top area
 *
 * Logo and search form
 */
#top {
    height: 95px;
}
#top .logo {
    float: left;
    margin: 20px 0 0 0;
}
#contact .phone {
    padding: 0px 0px 0px 28px;
    font-weight: bold;
    margin: 55px 0px 0px 0px;
}

/*
 * Navbar
 */
#menu {
    height: 34px;
    border: solid #bebebe;
    border-width: 1px 1px 0 1px;
    font-family: 'Arvo', serif;
}
.navItem {
    margin-left: 0px;
}
.navItem>a {
    display: block;
    background: url(/images/menubg.png) left repeat-x;
    width: 135px;
    margin: 0 0 0 0;
    height: 34px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #5c5c5c;
    text-decoration: none;
    line-height: 20px;
    border-radius: 0px !important;
    z-index: 100;
}
.navItem>a:hover {
    z-index: 300;
    background: url(/images/menubghover.png) left repeat-x;
    color: #e6002c;
}
.navItem .selected {
    z-index: 300;
    background: url(/images/menubghover.png) left repeat-x;
}
.subItems {
    border-radius: 0px;
    box-shadow: none;
    margin: -2px 0 0 0;
    border: solid #e6e6e6;
    border-width: 1px;
    z-index: 200;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }

/*
 * Carousel 
 *
 */
#myCarousel {
    margin-top: 8px;
}

/*
 * Panel
 *
 */
.panel {
    margin-bottom: 0px;
}
.myPanel {
    margin-top: 10px;
}
.myPanel .panel {
    border-radius: 0px;
}
.myPanel .panel-heading {
    background: url(/images/panelbg.gif) left repeat-x;
}
.myPanel .glyphicon-expand {
    font-size: 14px;
    color: red;
}
.myPanel a:hover {
    color: #e6002c;
    text-decoration: none;
}
.myPanel .panel-body a {
   color: #717171;
}
.myPanel .panel-body a:hover {
    color: #e6002c;
}
.myPanel .panel-heading .glyphicon {
    font-size: 12px;
    color: red;
}
.leftPanel {
    padding-right: 0;
}
.midPanel{
    padding-right: 0;
}
#newsPanel .panel-body {
    height: 155px;
    background: url(/images/newsbg.gif) left no-repeat;
}
#contactPanel .panel-body {
    height: 155px;
    background: url(/images/contactbg.gif) left no-repeat;
}
#aboutPanel .panel-body {
    height: 155px;
    background: url(/images/aboutbg.gif) left no-repeat;
}
#casesPanel .panel-body {
    height: 155px;
}
#casesPanel .panel-body a {
    margin-left: 5px;
}
#productsPanel .panel-body {
    padding: 14px 5px 6px 8px;
}
#productsPanel .panel-body img {
    width: 167px;
    height: 167px;
    margin-right: 4px;
    margin-bottom: 5px;
}

/*
 * Scroll Box
 */
.scroll-img {
    height: 142px;
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.scroll-img ul {
    width: 700px;
    height: 600px;
    margin: 0;
    padding: 0;
}
.scroll-img ul li {
    display: inline-block;
    margin: 15px 0 10px 3px;
}
#scrollbox.scroll-img ul {
    width: 1500px;
}

/*
 * Sider Nav
 *
 */
#siderNav .panel-body {
    padding: 0;
}
#siderNav .panel-body li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
}
#siderNav .panel-body a {
    padding-left: 13px;
    margin-left: 38px;
    background: url(/images/list_arrow_red.gif) no-repeat;
    background-position: left center;
    letter-spacing: 2px;
    font-size: 15px;
}
#siderNav .panel-body li {
    margin-top: 0px;
}
#siderNav .panel-body li:hover {
    background: url(/images/sidernavbg.gif) left repeat-x;
}
#siderNav .panel-default {
    border-bottom-width: 0px;
}

/*
 * Breadcrumb
 */
#myBreadcrumb {
    margin-top: 10px;
}
#myBreadcrumb .breadcrumb {
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
}
#myBreadcrumb .breadcrumb a{
    color: #e6002c;
}
