/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5c5c5c;
  background: url("/images/bg.png") top repeat-x #fff;
  font: 76%/140% Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  white-space: normal;
  word-break: break-all;
  font-family: "Microsoft YaHei","微软雅黑","SimHei","黑体";
}

.container {
    width: 990px;
}

/*
 * Top area
 *
 * Logo and search form
 */
#top {
    height: 95px;
}
#top .logo {
    float: left;
    margin: 20px 0 0 0;
}
#contact .phone {
    padding: 0px 0px 0px 28px;
    font-weight: bold;
    margin: 55px 0px 0px 0px;
}

/*
 * Navbar
 */
#menu {
    height: 34px;
    border: solid #bebebe;
    border-width: 1px 1px 0 1px;
    font-family: 'Arvo', serif;
}
.navItem {
    margin-left: 0px;
}
.navItem>a {
    display: block;
    background: url(/images/menubg.png) left repeat-x;
    width: 135px;
    margin: 0 0 0 0;
    height: 34px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #5c5c5c;
    text-decoration: none;
    line-height: 20px;
    border-radius: 0px !important;
    z-index: 100;
}
.navItem>a:hover {
    z-index: 300;
    background: url(/images/menubghover.png) left repeat-x;
    color: #e6002c;
}
.navItem .selected {
    z-index: 300;
    background: url(/images/menubghover.png) left repeat-x;
}
.subItems {
    border-radius: 0px;
    box-shadow: none;
    margin: -2px 0 0 0;
    border: solid #e6e6e6;
    border-width: 1px;
    z-index: 200;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }

/*
 * Carousel 
 *
 */
#myCarousel {
    margin-top: 8px;
}

/*
 * Homepage panels
 *
 */
.panel {
    margin-bottom: 0px;
}
.myPanels {
    margin-top: 10px;
}
.myPanels .panel {
    border-radius: 0px;
}
.myPanels .panel-heading {
    background: url(/images/panelbg.gif) left repeat-x;
}
.myPanels .glyphicon-expand {
    font-size: 14px;
    color: red;
}
.myPanels a:hover {
    color: #e6002c;
    text-decoration: none;
}
.myPanels .panel-body a {
    color:#717171;
}
.myPanels .panel-body a:hover {
    color: #e6002c;
}
.leftPanel .panel-body {
    height: 155px;
}
.leftPanel {
    padding-right: 0;
}
.midPanel{
    padding-right: 0;
}
.autoHeight{
    height: auto !important;
}
.midPanel .panel-body {
    height: 155px;
}
.myPanels .glyphicon-play-circle {
    font-size: 12px;
    color: red;
}
.rightPanel .panel-body {
    height: 155px;
}
.rightPanel .panel-body .well {
    width: 120px;
    padding: 5px;
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: rgba(245, 245, 245, 0.4);
}
.rightPanel .panel-body a {
    margin-left: 5px;
}
#newsPanel .panel-body {
    background: url(/images/newsbg.gif) left no-repeat;
}
#contactPanel .panel-body {
    background: url(/images/contactbg.gif) left no-repeat;
}
#aboutPanel .panel-body {
    background: url(/images/aboutbg.gif) left no-repeat;
}

/*
 * Scroll Box
 */
.scroll-img {
  height: 142px;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
  padding: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 15px 0 10px 3px;
}
#scrollbox.scroll-img ul {
  width: 1500px;
}
